/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


@font-face {
	font-family: typewriter;
	src: url("../fonts/Albertsthal Typewriter.ttf");
}
@font-face {
	font-family: old-typewriter;
	src: url("../fonts/Old Typewriter.ttf");
}
@font-face {
	font-family: light-typewriter;
	src: url(../fonts/1942.ttf);
}

@mixin shadow {
	box-shadow: 2px 2px 10px black;
}

@mixin centered {
  width: $column * 10;
	margin-left: $column;
}

$column: 8.3333%;
$link-color: darkred;







body {
	background-image: url(../img/grungypaper.jpg);
	width: 100%;
	height: 100vh;
}

header {
	@include centered;
	margin-top: 2%;
	text-align: center;
	transform: rotate(-1deg);
	span {
		position: relative;
		top: 0.2em;
	}
}

h1 {
	font-family: old-typewriter;
	font-size: 3em;
}

h3 {
	font-family: typewriter;
	font-size: 2em;
	font-weight: bold;
	transform: rotate(1deg);
}




nav {
	background-image: url(../img/paper.jpg);
	width: $column;

	float: left;
	
	margin-left: $column * 0.5;
	margin-top: 5%;
	padding: 1%;
	transform: rotate(1deg);

	font-family: old-typewriter;
	font-size: 1em;
	line-height: 2em;

	border: 1px solid gray;
	@include shadow;
}

.nav-link {
	color: black;
	transition: color 1s;
}

.nav-link:hover {
	color: $link-color;
	transition: color 0.5s;
}

li:nth-child(odd) {
	transform: rotate(-5deg);
}

li:nth-child(4) {
	transform: rotate(-10deg);
}

.text-over {
	position: absolute;
	top: 7em;
}





#content {
	background-image: url(../img/whitegrungypaper.jpg);
	@include centered;
	height: 75%;
	margin-top: 1%;
  
	@include shadow;
}





footer {
	@include centered;
	font-family: light-typewriter;
	text-align: center;
	padding: 2%;
	transform: rotate(1deg);
	font-weight: bold;
}

.odd-bottom {
	position: relative;
	top: -1em;
	transform: rotate(-2deg);
	font-weight: normal;
}