/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: typewriter;
  src: url("../fonts/Albertsthal Typewriter.ttf");
}
@font-face {
  font-family: old-typewriter;
  src: url("../fonts/Old Typewriter.ttf");
}
@font-face {
  font-family: light-typewriter;
  src: url(../fonts/1942.ttf);
}
/* line 41, ../sass/screen.scss */
body {
  background-image: url(../img/grungypaper.jpg);
  width: 100%;
  height: 100vh;
}

/* line 48, ../sass/screen.scss */
header {
  width: 83.333%;
  margin-left: 8.3333%;
  margin-right: 8.3333%;
  padding-top: 2%;
  text-align: center;
  transform: rotate(-1deg);
}
/* line 53, ../sass/screen.scss */
header span {
  position: relative;
  top: 0.2em;
}

/* line 59, ../sass/screen.scss */
h1 {
  font-family: old-typewriter;
  font-size: 3em;
}

/* line 64, ../sass/screen.scss */
h3 {
  font-family: typewriter;
  font-size: 2em;
  font-weight: bold;
  transform: rotate(1deg);
}

/* line 75, ../sass/screen.scss */
nav {
  background-image: url(../img/paper.jpg);
  width: 12.49995%;
  float: left;
  margin-left: 4.16665%;
  margin-top: 5%;
  padding: 1%;
  transform: rotate(1deg);
  font-family: old-typewriter;
  font-size: 1.5em;
  line-height: 2em;
  border: 1px solid gray;
  box-shadow: 2px 2px 10px black;
}

/* line 94, ../sass/screen.scss */
.nav-link {
  color: black;
  transition: color 2s ease;
}

/* line 99, ../sass/screen.scss */
.nav-link:hover {
  color: darkred;
  transition: color 0.3s;
}

/* line 104, ../sass/screen.scss */
li:nth-child(odd) {
  transform: rotate(-5deg);
}

/* line 108, ../sass/screen.scss */
li:nth-child(4) {
  transform: rotate(-10deg);
}

/* line 112, ../sass/screen.scss */
.text-over {
  position: absolute;
  top: 7em;
}

/* line 122, ../sass/screen.scss */
#content-bg {
  background-image: url(../img/whitegrungypaper.jpg);
  width: 83.333%;
  margin-left: 8.3333%;
  margin-right: 8.3333%;
  height: 75%;
  margin-top: 1%;
  box-shadow: 2px 2px 10px black;
}

/* line 134, ../sass/screen.scss */
#content {
  margin-left: 16.6666%;
  margin-right: 16.6666%;
  width: 66.6664%;
  position: relative;
  top: 10%;
  height: 80%;
  overflow-y: auto;
}

/* line 147, ../sass/screen.scss */
section {
  font-family: courier;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 153, ../sass/screen.scss */
section h2 {
  font-family: old-typewriter;
  text-align: center;
}

/* line 160, ../sass/screen.scss */
.tilt-left {
  display: inline-block;
  transform: rotate(-3deg);
}

/* line 165, ../sass/screen.scss */
.tilt-right {
  display: inline-block;
  transform: rotate(3deg);
}

/* line 175, ../sass/screen.scss */
footer {
  width: 83.333%;
  margin-left: 8.3333%;
  margin-right: 8.3333%;
  font-family: light-typewriter;
  text-align: center;
  padding-bottom: 2%;
  transform: rotate(181deg);
  font-weight: bold;
}
