@font-face {
  font-family: typewriter;
  src: url("../fonts/Albertsthal Typewriter.ttf");
}
@font-face {
  font-family: old-typewriter;
  src: url("../fonts/Old Typewriter.ttf");
}
@font-face {
  font-family: light-typewriter;
  src: url(../fonts/1942.ttf);
}



html, body {
  height: 100%;
  font-size: 1em;
  color: #111;
}


nav {
  position: fixed;

  background: #EEE;
  border-bottom: 1px solid #222;
  box-shadow: 0 0 20px #111;

  text-align: center;
  font-family: old-typewriter;
  
}

.nav-link {
  font-family: typewriter;
  font-size: 1.5em;
  color: #111;
  text-shadow: 3px 3px 5px black;

  transition: color 0.6s ease-in, text-shadow 0.6s ease-in;
}

.nav-link:hover {
  cursor: pointer;
  color: darkred;
  text-shadow: 0 0 10px darkred;
  text-decoration: none;
  
  transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
}





#content-bg {
  background: #DDD;
}

#content {
  box-sizing: border-box;
  background: url(../img/paper.jpg);
  ;
  
  margin: 0 auto;    
  padding: 1%;
  
  text-align: justify;
  box-shadow: 0 10px 50px black;
  border: 1px solid #DDD;
}


section h2 {
  font-family: light-typewriter;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}
section h6 {
  font-family: typewriter;
  font-size: 1.1em;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 1%;  
  margin-bottom: 2%;
  text-shadow: 1px 1px 1px black;
}



section section {
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 1%/50%;
  border: 2px solid #888;
  box-shadow: 0 0 5px 2px #AAA;
  
}

section h4 {
  font-family: light-typewriter;
  font-size: 1.5em;
  font-weight: bold;
  color: #400;
  padding-bottom: 1%;  
  border-bottom: 1px solid black;
}

section p {
  font-family: courier;
  font-size: 1.1em;
  line-height: 1.2em;
  padding-top: 0.5em;
}

p strong, p b {
  font-weight: bold;
  color: #111;
}

p em {
  font-style: italic;
}

p a, li a {
  color: darkred;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

p a:hover, li a:hover{
  text-decoration: underline;
  text-shadow: 1px 1px 2px darkred;
}

p a:active, li a:active {
  color: red;
}

li a {
  margin-left: 1%;
}










#slimer {
  position: fixed;
  top: 1%;
  left: 1%;
  font-size: 0.8em;
  cursor: pointer;
}

#slimer:hover {
  text-decoration: underline;
}

#canvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
