@font-face {
  font-family: typewriter;
  src: url("../fonts/Albertsthal Typewriter.ttf");
}
@font-face {
  font-family: old-typewriter;
  src: url("../fonts/Old Typewriter.ttf");
}
@font-face {
  font-family: light-typewriter;
  src: url(../fonts/1942.ttf);
}



html, body {
  height: 100%;
  background-image: url(../img/paper.jpg);
  background-size: cover;
  font-size: 1em;
}




header {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5%;
  text-align: center;
  border-bottom: 4px solid black;
  font-family: old-typewriter;
  box-shadow: 0 0 20px black;
}

header h1 {
  font-size: 1.8em;
  text-shadow: 0 0 3px darkred;
}

header h3 {
  font-family: typewriter;
  padding-top: 0.5%;
  font-size: 0.9em;
  text-shadow: 1px 1px 2px darkred;
}





nav {
  font-family: typewriter;
  font-size: 1.4em;
  margin: 0 auto;
}

.nav-link {
  margin: 0.5% 1%;
  display: inline-block;
  color: black;
  text-shadow: 3px 3px 5px black;
  transition: color 0.6s ease-in, text-shadow 0.6s ease-in;
}

.nav-link:hover {
  color: darkred;
  text-shadow: 0 0 10px darkred;
  cursor: pointer;
  transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
}







#content-bg {
  box-sizing: border-box;
  height: 85%;
  width: 100%;
  padding: 0.5%;
}

#content {
  box-sizing: border-box;
  margin-left: 16.6666%;
  width: 66.6664%;
  height: 100%;
  background: none;
  padding: 1%;
  text-align: justify;
  box-shadow: 0 10px 50px black;
  border: 3px solid black;
  overflow-y: scroll;
}


section h2 {
  font-family: light-typewriter;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}
section h6 {
  font-family: typewriter;
  font-size: 1.1em;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 1%;  
  margin-bottom: 2%;
  text-shadow: 1px 1px 1px black;
}



section section {
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 1%/50%;
  box-shadow: 0 0 15px lightgray;
  
}

section h4 {
  font-family: light-typewriter;
  font-size: 1.5em;
  font-weight: bold;
  color: #400;
  padding-bottom: 1%;  
  border-bottom: 1px solid black;
}

section p {
  font-family: courier;
  font-size: 1.1em;
  line-height: 1.2em;
  padding-top: 0.5em;
}

p strong, p b {
  font-weight: bold;
  color: black;
}

p em {
  font-style: italic;
}

p a, li a {
  color: darkred;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

p a:hover, li a:hover{
  text-decoration: underline;
  text-shadow: 1px 1px 2px darkred;
}

p a:active, li a:active {
  color: red;
}

li a {
  margin-left: 1%;
}

object {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}







#slimer {
  position: fixed;
  top: 1%;
  left: 1%;
  font-size: 0.8em;
  cursor: pointer;
}

#slimer:hover {
  text-decoration: underline;
}

#canvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
